.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;

    border: 1px solid #e9eef3;
    border-radius: 5px;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
    margin:40px auto;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: #130f0f;
}

.avatar {
    width: 100px;
    border: 3px solid #e9eef3;
    border-radius: 50%;

    margin-top: 30px;
    margin-bottom: 10px;
}

.name {
    color: #171212;
    font-size: 20px;
    font-weight: 700;
    /* margin-bottom: 10px; */
}

.tag {
    margin-top: -5px;
    /* margin-bottom: -5px; */
    color: #767677;
}

.location {
    margin-top: -8px;
    /* margin-bottom: 30px; */
    color: #767677;
}

.stats {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    border-top: 1px solid #dddddd;
    background-color: #e9eef3;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: calc((100% - 5px) / 3);

    padding: 15px;

    border-right: 1px solid #dddddd;
}

.item:last-child {
    border-right: none;
}

.label {
    font-size: 12px;
    margin-bottom: 5px;
}

.quantity {
    font-weight: 700;
}